/* Fontes */

@font-face {
  font-family: "Necto-Mono";
  src: url("../fonts/Necto-Mono.woff2") format("woff2"),
    url("../fonts/Necto-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variavéis
---------------------------------------*/

:root {
  --cor-principal: #000;
  --cor-secundaria: Aquamarine;
  --fonte-principal: "Necto-Mono", sans-serif;
  --fonte-secundaria: "Noto Serif", serif;
  --fonte-grande: 1.5rem;
  --fonte-normal: 1rem;
  --fonte-pqn: 0.8rem;
}

/* Geral
---------------------------------------*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--fonte-secundaria);
  font-size: 100%;
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  line-height: 1.2em;
}

h1, h2 {
  font-family: var(--fonte-principal);
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h1 {
  
  font-size: 4rem;
}

p {
  margin-bottom: 2rem;
  line-height: 1.2em;
}

img {
  max-width: 100%;
  width: 100%;
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  text-transform: uppercase;
}

ul {
  margin-bottom: 2rem;
}

/* Reveal
---------------------------------------*/

.reveal-viewport {
  background-color: var(--cor-secundaria);
}

.reveal {
  font-family: var(--fonte-secundaria);
  font-size: 42px;
  font-weight: normal;
}

.reveal ::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal .slides {
  text-align: left;
  font-size: 2rem;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.2em;
  font-weight: inherit;
  padding: 1rem;
}

.reveal .slides section > section {
  padding: 1rem 0;
}

.reveal .progress {
  height: 2rem;
  border-top: 1px solid var(--cor-principal);
  background-color: transparent;
}

.reveal .progress span {
  background-color: var(--cor-principal);
}

.reveal .slide-number {
  right: 0;
  bottom: 0;
  font-family: var(--fonte-principal);
  font-size: 1rem;
  
}

.reveal .slide-number {
  padding: 0;
  background-color: transparent;
  font-size: 2rem;
}

.reveal .slide-number a {
  text-decoration: none;
  color: var(--cor-principal);
}



/* Capa
---------------------------------------*/

/* .capa-formas video {
  max-width: 100%;
  mix-blend-mode: multiply;
} */

.capa h1 {
  font-size: 2rem;
}

.capa-formas img {
  display: none;
}

.capa-formas {
  
  background-image: url('../assets/capa.png');
  background-position: top center;
  background-size: contain;
  background-repeat: repeat-x;
  height: calc(100vh - 10rem);
  margin-left: -10vw;
  margin-right: -10vw;
}

/* Leiautes
---------------------------------------*/




.colunas {
  display: grid;
  gap: 2rem;
}

.colunas-2 {
  grid-template-columns: 1fr 1fr;
}

.colunas-1-3 {
  grid-template-columns: 1fr 3fr;
}
