/* Fontes */

@font-face {
  font-family: "Necto-Mono";
  src: url("../fonts/Necto-Mono.woff2") format("woff2"),
    url("../fonts/Necto-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variavéis
---------------------------------------*/

:root {
  --cor-principal: #000;
  --cor-secundaria: aquamarine;
  --fonte-principal: "Necto-Mono", sans-serif;
  --fonte-secundaria: "Noto Serif", serif;
  --fonte-grande: 1.5rem;
  --fonte-normal: 1rem;
  --fonte-pqn: 0.8rem;
}

/* Geral
---------------------------------------*/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--fonte-secundaria);
  font-size: 100%;
  color: var(--cor-principal);
  background-color: white;
  line-height: 1.2em;
}

h1, h2 {
  font-family: var(--fonte-principal);
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h1 {
  
  font-size: 4rem;
}

p {
  margin-bottom: 2rem;
  line-height: 1.2em;
}

img {
  max-width: 100%;
  width: 100%;
  text-align: right;
}

a {
  text-decoration: none;
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  text-transform: uppercase;
}

ul {
  margin-bottom: 4rem;
  margin-left: 2rem;
}

ul li {
  margin-bottom: 1rem;
}

/* Reveal
---------------------------------------*/

.reveal-viewport {
  background-color: #fff;
}

.reveal {
  font-family: var(--fonte-secundaria);
  font-size: 42px;
  font-weight: normal;
}

.reveal ::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none;
}

.reveal .slides {
  text-align: left;
  font-size: 1.8rem;
  height: 100%;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.2em;
  font-weight: inherit;
  height: calc(100% - 1rem);
}

.reveal .slides section {
  padding: 3rem 0 3rem 0;
}

.reveal .slides section > section {
  padding: 3rem 0;
}

.reveal .progress {
  height: 1rem;
  border-top: 1px solid var(--cor-principal);
  background-color: transparent;
  bottom: auto;
  top: 0;
}

.reveal .progress span {
  background-color: var(--cor-principal);
}

.reveal .slide-number {
  right: 3rem;
  bottom: 1rem;
  padding: 0;
  background-color: transparent;
}

.reveal .slide-number-a {
  text-decoration: none;
  color: var(--cor-principal);
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  line-height: 2rem;
}


/* Menu
---------------------------------------*/

.reveal div.slide-menu-button {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  left: 3rem;
  bottom: 1rem;
}

div.slide-menu-wrapper .slide-menu {
  background-color: #000;
  font-family: var(--fonte-principal);
}

#close {
  font-family: var(--fonte-principal);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--cor-secundaria);
}

div.slide-menu-wrapper .slide-menu-toolbar {
  border-bottom: none;
}

div.slide-menu-wrapper .slide-menu-toolbar > li:first-child {
  display: none;
}

div.slide-menu-wrapper .slide-menu-item {
  border: none;
  text-transform: uppercase;
  font-family: var(--fonte-principal);
  color: var(--cor-secundaria);
  padding: 0 2rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
}

div.slide-menu-wrapper .slide-menu-item-vertical {
  padding: 0 0 0 4rem;
  margin-bottom: 1rem;
  color: var(--cor-secundaria);
}

div.slide-menu-wrapper .active-menu-panel li.active {
  color: var(--cor-secundaria);
  text-decoration: underline;
}

div.slide-menu-wrapper .active-menu-panel li.active::before {
  content: "> ";
}

div.slide-menu-wrapper .slide-menu-item.past, 
div.slide-menu-wrapper .slide-menu-item-vertical.past {
  text-decoration: line-through;
  opacity: 0.5;
}

div.slide-menu-wrapper .active-menu-panel li.selected {
  background-color: transparent;
  color: var(--cor-secundaria);
  text-decoration: underline;
}

/* Capa
---------------------------------------*/

.capa h1 {
  font-size: 2rem;
}

.capa-formas img {
  display: none;
}

.capa-formas {
  background-image: url('../assets/capa.png');
  background-position: top center;
  background-size: contain;
  background-repeat: repeat-x;
  height: calc(100vh - 13rem);
  margin-left: -10vw;
  margin-right: -10vw;
}

/* Leiautes
---------------------------------------*/

.colunas {
  display: grid;
  gap: 8rem;
  height: 100%;
}

.colunas-2 {
  grid-template-columns: 1fr 1fr;
}

.colunas-1-3 {
  grid-template-columns: 1fr 3fr;
}

.coluna {
  height: 100%;
  position: relative;
}

.imagem-cheia {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.imagem-cheia img {
  display: none;
}

.lista-participantes {
  margin-left: 0;
}


.lista-participantes li {
  display: inline;
}

.botao {
  font-family: var(--fonte-principal);
  font-size: 2rem;
  border: 1px solid var(--cor-principal);
  border-radius: 2rem;
  background-color: transparent;
  padding: 0.15rem 0.9rem 0.2rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
  display: inline-block;
  line-height: 1em;
  text-align: center;
}

.botao:hover,
.botao:focus,
.botao.ativo {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  cursor: pointer;
}

.lista-participantes .botao {
  margin-bottom: 1rem;
}

.centralizado {
  text-align: center;
}